{% extends "base.html" %}
{% block title %}YoRent - About{% endblock %}
{% block content %}
    <div class="span3">
    </div>
    <div class="span6">
    <h2>YoRent - Er, what?</h2>
    <p>York + Your + Yo! + Rent = YoRent</p>
    <h5>What's this all about then?</h5>
    <p>The way students, and people in general, rent houses is really messed up.
        If you're a renter, you spend most of your wages, or almost all of your student loan, on a house;
        you spend a lot of your time there, eat there and sleep there. </p>
    <p>But considering how big a part of your life a house is, you probably made the decision to live there on
        very little information. A quick 5 minute tour of the house, by a letting agent who only knows as much as you do.
        You find out about the basics, but not what it's like to live there.</p>
    <h5>Who's gonna tell you what it's really like?</h5>
    <p>How much are the bills? Is anything broken? What's the landlady
        like? The letting agent/owner won't say anything. If they told you about the leaking roof, the broken heating,
        or the rats, you wouldn't want to give them all that money! The only people who really know what it's like are
        the people who've actually lived it.</p>
    <p>Chances are, you'll never meet them.</p>
    <h5>We can build a place to share that knowledge with the people who need it.</h5>
    <p>If I wanted to buy something online, I'd check the reviews to make sure I'm getting what I wanted. I'd like to
        know that I'm getting isn't crap. It should be the same way for houses.</p>
    <p>Let's make it easier for renters to make informed decisions about where they're going to live.</p>
    <p>By arming themselves with knowledge, renters can push landlords to improve the quality of houses, not
        just leave things as they are for next year's suckers.</p>
    <h5>How do we do that?</h5>
    <p>By reviewing and rating the places we live. By calling out owners who constantly make excuses, who neglect their
        tenants. By sharing the knowledge about which letting agents are going to screw you with fees, and which ones
        will help you every step of the way.</p>
    <p>Of course not all rental houses, owners, landlords/ladies, or agents are crap. There are some good ones out there.
        Let's tell people about them, and try and get the rest to follow suit!</p>
    <p></p>
    <p>If you've got any suggestions about how the site could be improved, don't be afraid to <a href={{ url_for("contact") }}>get in touch</a>.</p>
    </div>
    <div class="span3">
    </div>
{% endblock %}