<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta charset="utf-8">

        
        <link href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
        

        <link href="{{ url_for('static', filename='css/rateit.css') }}" rel="stylesheet" type="text/css">


        <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">

    {% endblock %}
</head>

  <body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<!--  <script src={{ url_for('static', filename="js/jquery.rateit.js") }} type="text/javascript"></script>-->

    {% include 'nav_bar.html' %}


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ message }}
        </div>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    {% block content %}
    {% endblock %}



  <script src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>

  </body>
</html>