{% extends "base.html" %}
{% block title %}YoRent - Blog{% endblock %}
{% block content %}
    <div class="span6 offset3">
    <h1>YoRent - Blog</h1>


    <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->

      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Blog</a></li>
        <li><a href="#tab2" data-toggle="tab">Development</a></li>
        {% if admin==True %}
        <li><a href="#tab3" data-toggle="tab">Add Blog Post</a></li>
        {%endif%}
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="tab1">
        {% for post in blog_posts|sort(attribute="timestamp", reverse=True) %}
            <h3>{{post.title}}</h3>
            <p>{{post.content}}</p>
            <hr>
        {% endfor %}
        </div>

        <div class="tab-pane" id="tab2">
        {% for post in dev_posts|sort(attribute="timestamp", reverse=True) %}
            <h3>{{post.title}}</h3>
            <p>{{post.content}}</p>
            <hr>
        {% endfor %}
        </div>

        <div class="tab-pane" id="tab3">
            <p> Add a new blog post </p>
            <form action="{{ url_for('add_blog_post') }}" method=post class=add-entry>
                <p><input type="text" name="title"> Title</p>
                <p><input type="text" name="category"> Category (blog or dev)</p>
                <p><textarea rows="4" cols="50" name="content"> Content</textarea></p>
                <p><input type="submit" value="Add Post"></p>
            </form>
        </div>

      </div>
    </div>


    
{% endblock %}