
<div class="row-fluid">
    <div align="center">
        <div class="span12">
            <div id="this-carousel-id" class="carousel slide" style="-webkit-filter: blur(0px);"><!-- class of slide for animation -->
                <div class="carousel-inner">
                {% if house.images|length > 0 %}
                    <div class="item active">
                        <img src="{{house.images[0]}}" alt="" />
                    </div>
                {% for img in house.images[1:]  %}
                    <div class="item">
                        <img src="{{img}}" alt="" />
                    </div>
                {% endfor %}
                {% else %}
                    <div class="item active">
                        <img src="{{(['http://i.imgur.com/PXj71kO.jpg', 'http://i.imgur.com/2ZRFsFt.jpg', 'http://i.imgur.com/1czK3pN.jpg'])|random}}" alt="" style="max-height:400px;"/>
                        <div class="carousel-caption">
                            <p>Random duck!</p>
                        </div>
                    </div>
                {% endif %}
                </div><!-- /.carousel-inner -->
                <!--  Next and Previous controls below
                href values must reference the id for this carousel -->
                <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
            </div><!-- /.carousel -->
        </div>
    </div>
</div>
