{% extends "base.html" %}
{% block title %}YoRent - Contact us{% endblock %}
{% block content %}

    <div class="span8 offset4">
        <h1> Contact us</h1>
        <p>Please feel free to get in touch!</p>
        <p>If you have ideas, suggestions, complaints or questions, we'd love to hear from you:</p>
        <p>Check us out <a href="https://www.facebook.com/yorent.york" target="_top">on Facebook</a>.</p>
    </div>

{% endblock %}