{% extends "base.html" %}
{% block title %}YoRent - All houses{% endblock %}
{% block content %}

    <div align="center">
        <h1>All Houses</h1>
    </div>

    {% for house in houses %} <!--show each house -->
        {% include 'house_small.html' %}
    {% endfor %}

{% endblock %}