<li class="span3" style="overflow: hidden;">
    <div class="thumbnail" style="height:400px;">
        <a href="{{url_for('houses', house_id=house.id)}}">
            
        {% if house.images|length > 0 %}
        <img src="{{house.images[0]}}" alt="" style="max-height:200px;">
        {% else %}
        <img src="{{(['http://i.imgur.com/PXj71kO.jpg', 'http://i.imgur.com/2ZRFsFt.jpg', 'http://i.imgur.com/1czK3pN.jpg'])|random}}" alt="" style="max-height:200px;">
        </a>
        {% endif %}

            <div class="caption">
            <h3><a href="{{url_for('houses', house_id=house.id)}}">{{house.name}}</a></h3>
            <p>
                <span>
                {% if house.average_rating==None %}
                    (Not yet rated...)
                {% else %}
                    <div class="rateit" data-rateit-value="{{house.average_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>  
                {% endif %}
                <a href="{{url_for('houses', house_id=house.id)}}" class="btn btn-default" ><i class="icon-thumbs-up"></i> {{house.reviews|length}}</a>
                <a href="{{url_for('houses', house_id=house.id)}}" class="btn btn-default" ><i class="icon-camera"></i> {{house.images|length}}</a>
                </span>
            </p>
                <div>{{house.overview}}</div>
           
        </div>
    </div>
</li>