{% extends "base.html" %}
{% block title %}YoRent - Add New House{% endblock %}
{% block content %}

<script>
var g_lat = "999"
var g_lng = "999"
var g_town = ""
var g_pcode = ""
var g_nhood = ""
var g_name = ""


function getPostcode()
{
    var postcode_in = document.getElementById("postcode_form").value;
    console.log(postcode_in)
    $.getJSON('/api/postcode?postcode='+postcode_in, function(jd) {
        console.log(jd);
        g_town = jd.town
        g_nhood = jd.neighbourhood
        g_pcode = jd.postcode
        document.getElementById('neighbourhood_form').value=jd.neighbourhood;
        document.getElementById('town_form').value=jd.town;
        document.getElementById('postcode_form').value=jd.postcode;
        g_lat = jd.lat  // Set these global variables so we can use them when submitting
        g_lng = jd.lng
        // Fill up the landlord selector with appropriate landlords
        var selector = document.getElementById("landlord_form")
        selector.innerHTML = ""  // Empty the selector
        var opt = document.createElement("option")
        opt.value = "" // Value is landlord id
        opt.appendChild(document.createTextNode(""))  // text is landlord name
        selector.appendChild(opt)
        for(var i=0;i<jd.landlords.length;i++)
        {
            var opt = document.createElement("option")
            opt.value = jd.landlords[i][0] // Value is landlord id
            opt.appendChild(document.createTextNode(jd.landlords[i][1]))  // text is landlord name
            selector.appendChild(opt)
        };
        var opt = document.createElement("option")
        opt.value = "new" // Value is landlord id
        opt.appendChild(document.createTextNode("New/Other"))  // text is landlord name
        selector.appendChild(opt)
    });
}

function submit()
{
    // get form fields
    var name = document.getElementById("name_form").value
    var town = g_town
    var nhood = g_nhood
    var pcode = g_pcode
    var lat = g_lat
    var lng = g_lng
    var oview = document.getElementById("oview_form").value
    var ll_id = document.getElementById("landlord_form").value
    var ll_name = document.getElementById("new_ll_name_form").value
    var ll_website = document.getElementById("new_ll_website_form").value
    // validate form fields
    // TODO
    if(name=="")
    {
        alert("Please input the house number and street name")
        return
    }
    if(pcode=="")
    {
        alert("Please input the postcode. If you don't know it, Google Maps will tell you.")
        return
    }
    if(oview=="")
    {
        alert("Please write a short overview about this house. It will help others to find somewhere suitable to live.")
        return
    }
    if(ll_id=="")
    {
        alert("Please select a landlord. If your landlord is not listed, you can select new/other and add them")
        return
    }
    
    // Try to geocode using google maps. We used to do this on each map load, but ran into limits on query rate.
    // Better to do it here and store the result.
    var geocoder;
    geocoder = new google.maps.Geocoder();
    var sAddress = name + ", " + town
    console.log(sAddress)
        console.log( lat )
    console.log( lng )
    geocoder.geocode( {'address': sAddress}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        lat = results[0].geometry.location['k']
        lng = results[0].geometry.location['A']
        console.log(lat)
        console.log(lng)
        
      } else {
        console.log("Geocode was not successful for the following reason: " + status);
        console.log("Falling back to lat/lng data from postcode API");
      }
    });
    console.log(name )
    console.log( town )
    console.log( nhood )
    console.log( pcode )
    console.log( lat )
    console.log( lng )
    console.log( ll_id )
    console.log( oview )
    add_api = "add_house"
    data = {name:name, town:town, nhood:nhood, pcode:pcode, lat:lat, lng:lng, ll_id:ll_id, oview:oview, ll_name:ll_name, ll_website:ll_website}
    $.post(add_api, data, function(result)
           {
               console.log(result)
               window.location.href = result
           })
}
function checkNewLandlord()
{
    var selected = document.getElementById("landlord_form").value;
    var ll_name_row = document.getElementById("new_ll_name_row")
    var ll_website_row = document.getElementById("new_ll_website_row")
    if(selected=="new"){
        // Show new landlord name field
        alert("If the landlord is not listed, please help us by providing the landlord's name :)");
        ll_name_row.style.display="block";
        ll_website_row.style.display="block";
    }
    else {
        // Hide new landlord name field
        ll_name_row.style.display="none";
        ll_website_row.style.display="none";
    }

}
</script>



<div class="span4 offset4">
    <h1>Add a new house</h1>
<div class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="name_form">House number and street name</label>
    <div class="controls">
      <input type="text" id="name_form" placeholder="House Name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="postcode_form">Postcode</label>
    <div class="controls">
      <input type="text" id="postcode_form" placeholder="Postcode">
        <button onclick="getPostcode()">Look up postcode</button>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="town_form">Town</label>
    <div class="controls">
      <input type="text" id="town_form" placeholder="Town" readonly>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="neighbourhood_form">Neighbourhood</label>
    <div class="controls">
      <input type="text" id="neighbourhood_form" placeholder="Neighbourhood" readonly>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="oview_form">Overview</label>
    <div class="controls">
        <textarea rows="6" cols="100" id="oview_form" placeholder="Write an overview of the house here: For example, the size of the house, number of rooms, facilities such as bathrooms, communal areas, proximity to amenities etc."></textarea>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="landlord_form">Landlord</label>
    <div class="controls">
      <select id="landlord_form" name=landlord_id onChange="checkNewLandlord()">
          <option value=""></option>
          <option value="">Look up postcode first</option>
        </select>
    </div>
  </div>

  <div class="control-group" style="display:none" id="new_ll_name_row">
    <label class="control-label" for="new_ll_name_form">Landlord Name</label>
    <div class="controls">
      <input type="text" id="new_ll_name_form" placeholder="Landlord Name">
    </div>
  </div>

  <div class="control-group" style="display:none"  id="new_ll_website_row">
    <label class="control-label" for="new_ll_website_form">Landlord Website</label>
    <div class="controls">
      <input type="text" id="new_ll_website_form" placeholder="Landlord Website">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button onclick="submit()">Add House</button>
    </div>
  </div>
</div>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

{% endblock %}
