{% extends "base.html" %}
{% block title %}YoRent - Review {{house.name}}{% endblock %}
{% block content %}
<script src={{ url_for('static', filename="js/jquery.rateit.js") }} type="text/javascript"></script>

<div class="span4">
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Important!</strong> <br>Please bear in mind that your review will be viewable by members of the public. While it's important to hold property owners accountable for dangerous houses, be sure not to include information that might risk the safety or security of the occupants.<br>
    For example, instead of writing<br>
    <i>"The front door doesn't lock, and anyone can come in and grab my Macbook Air between 11am and 3pm."</i><br>
    perhaps write something like<br>
    <i>"Despite the letting agent being told repeatedly, many critical features of the house are in disrepair, which makes us feel unsafe here."</i><br>
    </div>
</div>

<div class="span4">
    <h1>Add review for {{house.name}}</h1>
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="review_title">Title for your review</label>
        <div class="controls">
          <input type="text" id="review_title" placeholder="Title">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="review_body">Write your review here</label>
        <div class="controls">
            <textarea rows="4" cols="50" name="content"  id="review_body" placeholder="Review"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="rateit5">Rate this house</label>
        <div class="controls">
          <span class="rateit" id="rateit5" data-rateit-step="1"></span>
          <input type="hidden" id="review_rating" style="display: none;">
          <input type="hidden" id="review_house_id" name="review_house_id" value="{{house.id}}" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="review_year">When did you move in?</label>
        <div class="controls">
          <select id="review_year">
            <option value="">Select year</option>
            {% for year in [2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004]%}
            <option value="{{year}}">{{year}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button onclick="submit()">Submit Review</button>
        </div>
      </div>
    </div>
</div>



<script type="text/javascript">
    rating = 0;
    $("#rateit5").bind('rated', function (event, value)
        {
            console.log(value);
            rating = value
            console.log( rating )
        });
    function submit()
    {
        var review_title = document.getElementById("review_title").value
        var review_body = document.getElementById("review_body").value
        var review_rating = document.getElementById("rateit5").value
        var review_house_id = document.getElementById("review_house_id").value
        var review_year = document.getElementById("review_year").value

        if(review_title=="") {
            alert("Please write a title for this review")
            return
        }
        if(review_body=="") {
            alert("Please write the content of your review")   
            return
        }
        if(review_year=="") {
            alert("Please select when you moved into this house")
            return
        }
        add_api = "add_house_review"
        data = {review_title:review_title,
                review_body:review_body,
                review_rating:rating,
                review_year:review_year,
                review_house_id:review_house_id}
        $.post(add_api, data, function(result)
               {
                if(result.indexOf("Error")!=-1)
              {
                alert(result)
              }
              else
              {
               window.location.href = result
             }
           })
    }
</script>

{% endblock %}