{% extends "base.html" %}
{% block title %}YoRent - Home{% endblock %}
{% block content %}


 <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 60px;
      }

      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 60px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }

    </style>
<div class="container">
<div class="jumbotron">
        <h1>YoRent!</h1>
        <p class="lead">Trying to find a house to rent sucks.</p>
        <p class="lead">We're going to make it better.</p>
        <a class="btn btn-large btn-success" href="{{url_for('start')}}">Get involved!</a>
      </div>
      <hr>
      <div class="row-fluid">
        <div class="span4">
          <h2>How?</h2>
          <ul>
            <li>Share your experiences of rental houses so others can learn from you.</li>
            <li>Call out bad landlords & letting agencies, ensure they get their act together.</li>
            <li>Promote the nicer houses and helpful landlords, encourage others to improve</li>
          </ul>
        </div>
        <div class="span4">
          <h2>Why?</h2>
          <p>Because we've all been through it so many times: Unhelpful landlords. Letting agencies who only care about the money. Houses that no one would <i>choose</i> to live in.</p>
          <p>Unless we shake things up, it'll always be like this!</p>
       </div>
        <div class="span4">
          <h2>Who?</h2>
          <p>The Yorkshire Software Collective are a group of designers, engineers and makers who like to work on projects that make a difference in the world. We want to use technology
            to make life better for <i>everyone</i>.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; The Yorkshire Software Collective 2015</p>
      </div>
</div>
{% endblock %}