<li class="span3">
    <div class="thumbnail">
        <div class="caption">
            <h3><a href="{{url_for('landlords', landlord_id=landlord.id)}}">{{landlord.name}}</a></h3>
            <p>
            <button type="button" class="btn btn-default" ><i class="icon-home"></i> 
              {{landlord.houses|length}} Propert{% if landlord.houses|length != 1   %}ies{% else %}y{% endif %}
              </button>
            </p>
            <p><div class="rateit" data-rateit-value="{{landlord.average_review_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div> Average Review</p>
            <p><div class="rateit" data-rateit-value="{{landlord.average_house_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div> Average House Rating</p>
        </div>
    </div>
</li>
