{% extends "base.html" %}
{% block title %}YoRent - {{landlord.name}}{% endblock %}
{% block content %}
<script src={{ url_for('static', filename="js/jquery.rateit.js") }} type="text/javascript"></script>
<script>
  $(document).ready(function(){

    $('#edit').tooltip(placement="right", animation="true", delay="0")
    $('#suggest_edit').tooltip(placement="right", animation="true", delay="0");

  });
  function vote_review(review_button_id, up_or_down){
        review_id = review_button_id.slice(0,-2)
        api = "api/vote_review"
        data = {user_id: "{{nav.user.id}}",
                review_id: review_id,
                "up_or_down":up_or_down,
                "review_type":"landlord"}
        $.post(api, data, function(result)
        {
            var error = result.search("error")
            if(error==-1)
            {   // all ok, number returned is num of voters
                update_review_voter_nums(review_id, result)
            }
            else
            {   // some sort of problem, show error from server
                alert(result)
            }
        })
    }

    function update_review_voter_nums(review_id, nums){
        var up_btn_id = review_id+"_U"
        var down_btn_id = review_id+"_D"

        up_btn = document.getElementById(up_btn_id)
        down_btn = document.getElementById(down_btn_id)
        nums = nums.split(" ")
        upvotes = nums[0]
        downvotes = nums[1]
        up_btn.innerHTML = "<i class='icon-thumbs-up'></i> " + upvotes;
        down_btn.innerHTML = "<i class='icon-thumbs-down'></i> " + downvotes;
    }

    function edit_review(review_id){
        console.log("edit  "+review_id)
        var url = "/edit_review?review_type=landlord&obj_id={{landlord.id}}&review_id="+review_id
        console.log(url)
        window.location.href = url
        
        //     console.log("edit  "+review_button_id)
        //    var review_id = review_button_id.slice(0,-7)
        //     console.log(review_id)
        //document.getElementById(review_id+"_title").style.display="block";
        //document.getElementById(review_id+"_body").style.display="block";
        //document.getElementById(review_id+"_rating").style.display="block";
        //document.getElementById(review_id+"_cancel_edit").style.display="block";
        //document.getElementById(review_id+"_submit_edit").style.display="block";
        }

    function cancel_edit_review(review_button_id){
        console.log("cancel  "+review_button_id)
        var review_id = review_button_id.slice(0,-12)
        console.log(review_id)
        document.getElementById(review_id+"_title").style.display="none";
        document.getElementById(review_id+"_body").style.display="none";
        document.getElementById(review_id+"_rating").style.display="none";
        document.getElementById(review_id+"_cancel_edit").style.display="none";
        document.getElementById(review_id+"_submit_edit").style.display="none";
    }

    function submit_edit_review (review_button_id){
        var review_id = review_button_id.slice(0,-12)
        var title = document.getElementById(review_id+"_title").value;
        if(title.length < 1){
            alert("Please enter a title")
            return
        }
        var body = document.getElementById(review_id+"_body").value;
        // var rating = document.getElementById(review_id+"_rating");
        // var review_rating = document.getElementById(review_id+"_rating").value
        if(body.length < 1){
            alert("Please enter the content for your review")
            return
        }

        rating = ($('#'+review_id+'_rating').rateit('value'))
        console.log(title, body, rating);
        // cancel_edit_review(review_button_id)
        api = "api/edit_review"
        data = {user_id: "{{nav.user.id}}",
                review_landlord_id: "{{landlord.id}}",
                review_id: review_id,
                review_type:"landlord",
                review_title: title,
                review_rating: rating,
                review_body: body}
        $.post(api, data, function(result)
        {
            var error = result.search("error")
            if(error==-1)
            {
                location.reload();
            }
            else
            {   // some sort of problem, show error from server
                alert(result)
            }
        })
    }

    function delete_review(review_button_id){
        console.log("delete  "+review_button_id)
        var review_id = review_button_id.slice(0,-7)
        if (confirm("Do you really want to delete this review?"))
        {
            api = "api/delete_review"
            data = {user_id: "{{nav.user.id}}",
                    review_id: review_id,
                    "review_type":"landlord"}
            $.post(api, data, function(result)
                   {
                   location.reload();
                   })
        }
        else{
            // Not deleting review
            return
        }
    }
</script>
<div class="span10 offset2">
    <h1>{{landlord.name}},
        <a href="{{ url_for('towns', town_id=landlord.town.id) }}">{{landlord.town.name}}</a>
    </h1>

    <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#details_tab" data-toggle="tab">
                    <h4><i class="icon-eye-open"> </i> Details</h4></a></li>
            <li>
                <a href="#houses_tab" data-toggle="tab">
                    <h4><i class="icon-home"> </i> 
                      {{landlord.houses|length}} House{% if landlord.houses|length != 1 %}s{% endif %}
                    </h4></a></li>
            <li>
                <a href="#reviews_tab" data-toggle="tab">
                    <h4><i class="icon-thumbs-up"> </i> 
                      {{landlord.reviews|length}} Review{% if landlord.reviews|length != 1 %}s{% endif %}
                    </h4></a></li>
            <li>
                <a href="#map_tab" data-toggle="tab">
                    <h4><i class="icon-map-marker"> </i> Map</h4></a></li>
            {% if nav.user.role == 2 %}
            <li>
                <a href="#admin_tab" data-toggle="tab">
                    <h4><i class="icon-cog"> </i> Admin</h4></a></li>
            {% endif %}
        </ul>

        <div class="tab-content">


            <div class="tab-pane active" id="details_tab">
                <p>Website: <a href="http://{{landlord.website}}">{{landlord.website}}</a></p>
                <button id="suggest_edit" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Coming soon!"><i class="icon-pencil"></i> Suggest an edit</button>

                <p><span class="rateit" data-rateit-value="{{landlord.average_review_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true">Average rating: </span></p>

                <p>Average house rating:
                <span class="rateit" data-rateit-value="{{landlord.average_house_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></span></p>
            </div>

            <div class="tab-pane" id="houses_tab">
                <ul class="thumbnails">
                {% for house in landlord.houses %}
                    {% include("house_small.html") %}
                {% endfor %}
                </ul>
            </div>

            <div class="tab-pane" id="reviews_tab">
            {% if not already_reviewed %}
                <p><a class="btn btn-info" href="{{url_for('add_landlord_review', landlord_id=landlord.id)}}">Add review</a></p>
            {% else %}
                <p><a class="btn btn-info" href="#">Edit my review</a></p>
            {% endif %}
                <p><span class="rateit" data-rateit-value="{{landlord.average_review_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true">Average rating: </span></p>

                <ul>
                {% for review in landlord.reviews|sort(attribute="rank", reverse=True) %}
                    {% include 'review_small.html' %}
                {% endfor %}
                </ul>

                {% if nav.user.role == 2 %}
                    <p><a id="delete_landlord" class="btn btn-large btn-warning" href="#">
                       <i class="icon-remove"></i> Delete landlord</a></p>
                    <p><a id="edit_landlord" class="btn btn-large btn-warning" href="#">
                       <i class="icon-pencil"></i> Edit landlord</a></p>

                {% endif %}
            </div>

            <div class="tab-pane" id="map_tab">
                <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                <div style="overflow:hidden;height:500px;width:600px;">
                    <div id="gmap_canvas" style="height:500px;width:600px;"></div>
                    <a class="google-map-code" href="http://www.map-embed.com" id="get-map-data">map-embed.com</a>
                    <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
                    <a class="google-map-data" href="http://www.staubsauger-test.biz" id="get-map-data">staubsauger-test.biz</a>
                </div>
                <script type="text/javascript">
                    function init_map(){
                        var myOptions = {zoom:13,center:new google.maps.LatLng(53.957687, -1.078961),mapTypeId: google.maps.MapTypeId.ROADMAP};
                        map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
                        {% for house in landlord.houses %}
                            marker{{house.id}} = new google.maps.Marker(
                                {map:map, position:new google.maps.LatLng(
                                    {{house.latitude}}, {{house.longitude}}
                                    )
                                }
                            );
                            infowindow{{house.id}} = new google.maps.InfoWindow({content:'<a href="{{url_for('houses', house_id=house.id)}}">{{house.name}}</a>' });
                            google.maps.event.addListener(marker{{house.id}}, "click", function(){
                                infowindow{{house.id}}.open(map,marker{{house.id}});
                            });
                        {% endfor %}
                    }
                    google.maps.event.addDomListener(window, 'load', init_map);
                </script>
                <!-- /Map code -->
            </div>

            {% if nav.user.role == 2 %}
            <div class="tab-pane" id="admin_tab">
                <p><a id="delete_house" class="btn btn-large btn-warning" href="#">
                   <i class="icon-remove"></i> Delete landlord</a></p>
                <p><a id="edit_house" class="btn btn-large btn-warning" href="#">
                   <i class="icon-pencil"></i> Edit landlord</a></p>
            </div>
            {% endif %}

        </div>
    </div>
</div>


{% endblock %}
