{% extends "base.html" %}
{% block title %}YoRent - Add New House{% endblock %}
{% block content %}
    


<div class="span6 offset4">
<h1>Add a new landlord, landlady, agent or owner</h1>
<div class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="landlord_name"> Landlord name</label>
    <div class="controls">
      <input type="text" id="landlord_name" placeholder="Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="landlord_website"> Landlord website</label>
    <div class="controls">
      <input type="text" id="landlord_website" placeholder="Website">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="landlord_town"> Select town/city</label>
    <div class="controls">
      <select name=town_id id="landlord_town">
          {% for town in towns %}
          <option value="{{town.id}}">{{town.name}}</option>
          {% endfor %}
        </select>
    </div>
  </div>
  
  <div class="control-group">
    <div class="controls">
      <button onclick="submit()">Submit Review</button>
    </div>
  </div>
</div>
</div>




<script type="text/javascript">
    function submit()
    {
        var landlord_name = document.getElementById("landlord_name").value
        var landlord_website = document.getElementById("landlord_website").value
        var landlord_town = document.getElementById("landlord_town").value
        if(landlord_name=="") {
            alert("Please give this landlord a name")
            return
        }
        if(landlord_town=="") {
            alert("Please this landlord's town/city")   
            return
        }
        add_api = "add_landlord"
        data = {landlord_name:landlord_name,
                landlord_website:landlord_website,
                landlord_town:landlord_town,}
        
        $.post(add_api, data, function(result)
           {

              if(result.indexOf("Error")!=-1)
            {
              alert(result)
            }
            else
            {
               window.location.href = result
             }
           })
    }
</script>
{% endblock %}