<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>')
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:')
        openid = openid.substr(0, u) + user
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid
}
</script>



<div class="span4">
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Please note:</strong> <br>To make life easier for everyone, we don't require you to create an account.
        Instead, we use Google, Yahoo! etc, which means that we don't store your private information on our servers.<br>
        All we see is your public data: email -which we will never display or disclose-, and chosen name -which is used to tag reviews that you've written.<br>
        If you have any questions, feel free to get in touch!
    </div>
</div>


<div class="span4">
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {{form.hidden_tag()}}
        <p>
            Please enter your OpenID, or select one of the providers below:<br>
            {{form.openid(size=80)}}
            {% for error in form.errors.openid %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
            |{% for pr in providers %}
            <a href="javascript:set_openid('{{pr.url}}', '{{pr.name}}');">{{pr.name}}</a> |
            {% endfor %}
        </p>
        <p>{{form.remember_me}} Remember Me</p>
        <p><input type="submit" value="Sign In"></p>
    </form>
</div>
    
{% endblock %}