<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href={{ url_for("start") }}>YoRent</a>(Beta)
            
            <div class="nav-collapse collapse">
                <ul class="nav pull-left">
                    {% if nav %}
                      
{% if nav.cur_town %}
                        <li class="btn-group">
                          {% if nav.cur_town %}  {# if town is known, display its name on navbar #}
                          <button type="button" class="btn btn-info" onclick="location.href='{{ url_for("towns", town_id=nav.cur_town.id)}}'">{{nav.cur_town.name}}</button>
                          {% else %}  {# if not, show "Cities" and link to list of cities #}
<!--                           <button type="button" class="btn btn-info" onclick="location.href='{{ url_for("towns")}}'">Cities</button> -->
                          {% endif %}
                          {# dropdown section of button #}
                          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only"></span>
                          </button>
                          {# list of cities with links #}
                          <ul class="dropdown-menu" role="menu">
                            {% for town in nav.all_towns %}
                            <li><a href={{ url_for("towns", town_id=town.id) }}>{{ town.name }}</a></li>
                            {% endfor %}
                          </ul>
                        </li>
                  
                        {% if nav.cur_town %}  {# only show nhood dropdown if we know what town we're in #}
                        <li class="btn-group">
                          {% if nav.cur_hood %}  {# if hood is known, display its name on navbar #}
                          <button type="button" class="btn btn-info" onclick="location.href='{{ url_for("neighbourhoods", nhood_id=nav.cur_hood.id)}}'">{{nav.cur_hood.name}}</button>
                          {% else %}  {# if not, show "Neighbourhoods" and link to city #}
                          <button type="button" class="btn btn-info" onclick="location.href='{{ url_for("towns", town_id=nav.cur_town.id)}}'">Neighbourhoods</button>
                          {% endif %}
                          {# dropdown section of button #}
                          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only"></span>
                          </button>
                          {# list of hoods with links #}
                          <ul class="dropdown-menu" role="menu">
                            {% for hood in nav.cur_town.neighbourhoods %}
                            <li><a href={{ url_for("neighbourhoods", nhood_id=hood.id) }}>{{ hood.name }}</a></li>
                            {% endfor %}
                          </ul>
                        </li>
                        {% endif %}
                  
                 

                      {% if nav.cur_hood %}  {# only show nearby houses if we know what hood we're in #}
                        <li class="btn-group">
                          <button type="button" class="btn btn-info" onclick="location.href='{{ url_for("neighbourhoods", nhood_id=nav.cur_hood.id)}}'">Nearby Houses</button>
                          {# dropdown section of button #}
                          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only"></span>
                          </button>
                          {# list of hoods with links #}
                          <ul class="dropdown-menu" role="menu">
                            {% for house in nav.cur_hood.houses %}
                            <li><a href={{ url_for("houses", house_id=house.id) }}>{{ house.name }}</a></li>
                            {% endfor %}
                          </ul>
                        </li>
                        {% endif %}
                  
                
{% endif %} {# end of navigation buttons #}
                    {% else %}
                    <li class="active"><a href={{ url_for("index") }}>Home</a></li>
                    {% endif %}
                </ul>

                <ul class="nav pull-right">
                    <li><a href={{ url_for("towns") }}>Houses</a></li>
                    <li><a href={{ url_for("about") }}>About</a></li>
<!--                     <li><a href={{ url_for("blog") }}>Blog</a></li> -->
                    <li><a href={{ url_for("contact") }}>Contact</a></li>

                    {% if nav.user and nav.user.nickname %}
                        {# have to check user AND nickname - can end up with anonymous user object after logout #}
                        <li><a href={{url_for("user", nickname=nav.user.nickname)}}>{{ nav.user.nickname }}</a></li>
                        <li><a href={{ url_for("logout") }}>Log Out</a></li>
                    {% else %}
                        <li><a href={{ url_for("login") }}>Log In</a></li>
                    {% endif %}

                </ul>
            </div><!--/.nav-collapse--> 
        </div>
    </div>
</div>