<li class="span3">
    <div class="thumbnail">
        <a href="{{url_for('neighbourhoods', nhood_id=nhood.id)}}"><img src="static/img/placeholder_map.jpg" alt=""></a>
            <div class="caption">
            <h3><a href="{{url_for('neighbourhoods', nhood_id=nhood.id)}}">{{nhood.name}}</a></h3>
            <p><div class="rateit" data-rateit-value="{{nhood.average_house_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div></p>
            <p>
                <button type="button" class="btn btn-default" ><i class="icon-home"></i> 
                  {{nhood.houses|length}} Propert{%if nhood.houses|length != 1 %}ies{% else %}y{% endif %}
              </button>
            </p>
        </div>
    </div>
</li>