{% extends "base.html" %}
{% block title %}YoRent - {{nhood.name}}{% endblock %}
{% block content %}
<script src={{ url_for('static', filename="js/jquery.rateit.js") }} type="text/javascript"></script>
<div class="row-fluid">
    <div align="left">
        <h1>{{nhood.name}}, {{nhood.town.name}}<div class="rateit" data-rateit-value="{{nhood.average_house_rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div></h1>
        
        <ul>
            {% for house in nhood.houses|sort(attribute="average_rating", reverse=True) %}
            {% include "house_small.html" %}
            
            {% endfor %}
        </ul>
        <!-- todo: expand list? -->
    </div>
</div>

{% endblock %}
