<li>
    <p>
        <div class="rateit" data-rateit-value="{{review.rating}}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
        <b>{{review.title}}:</b>
    </p>
    <p>
<!--         <a class="btn btn-small btn-info">{% if review.rank>0 %}+{%endif%}{{review.rank}}</a>   Removed rank/total rating because it's unnecessary and looks like a button-->
        <a id= "{{review.id}}_U" class="btn btn-small btn-success" onclick="vote_review(this.id, 'up')">
            <i class="icon-thumbs-up"></i>
            {{review.upvoters|length}}</a>
        <a id= "{{review.id}}_D" class="btn btn-small btn-danger" onclick="vote_review(this.id, 'down')">
            <i class="icon-thumbs-down"></i>
            {{review.downvoters|length}}</a>
         by
        <a href="{{url_for('user',nickname=review.author.nickname)}}">{{review.author.nickname}}</a>{% if review.year %}, {{review.year}}{% endif %}
        {% if nav.user and (review.author.nickname == nav.user.nickname) %} {# show edit button and hidden field if user is author #}
        <button type="button" class="btn btn-small btn-warning edit_button" id="{{review.id}}_u_edit" onClick="edit_review('{{review.id}}')">Edit</button>
        <button type="button" class="btn btn-small btn-danger edit_button" id="{{review.id}}_delete" onClick="delete_review(this.id)">Delete</button>
        {% endif %}
    </p>
    <p>{{review.body}}</p>


    {% if nav.user.role == 2 %} {# show admin delete and edit buttons if user is admin #}
    <p><a class="btn btn-small btn-danger" href="#" id="{{review.id}}_delete" onClick="delete_review(this.id)">
        <i class="icon-remove"></i> Delete review</a>
    <a class="btn btn-small btn-warning" href="#" id="{{review.id}}_a_edit" onClick="edit_review(this.id)">
        <i class="icon-pencil"></i> Edit review</a></p>
        <input type="text" id="{{review.id}}_title" placeholder="Title" style="display: none;">
        <input type="text" id="{{review.id}}_body" placeholder="Content" style="display: none;">
        <div class="rateit" id="{{review.id}}_rating" data-rateit-value="{{review.rating}}" data-rateit-step="1" style="display: none;"></div>
        <button type="button" class="btn btn-small edit_button" id="{{review.id}}_cancel_edit" onClick="cancel_edit_review(this.id)" style="display: none;">Cancel</button>
        <button type="button" class="btn btn-small edit_button" id="{{review.id}}_submit_edit" onClick="submit_edit_review(this.id)" style="display: none;">Submit</button>
    {% endif %}


    {% if nav.user and (review.author.nickname == nav.user.nickname) %} {# show edit button and hidden field if user is author #}
        <button type="button" class="btn btn-small edit_button" id="{{review.id}}_cancel_edit" onClick="cancel_edit_review(this.id)" style="display: none;">Cancel</button>
        <button type="button" class="btn btn-small edit_button" id="{{review.id}}_submit_edit" onClick="submit_edit_review(this.id)" style="display: none;">Submit</button>
    {% endif %}

</li>