{% extends "base.html" %}
{% block title %}YoRent - Edit your review{% endblock %}
{% block content %}
<script src={{ url_for('static', filename="js/jquery.rateit.js") }} type="text/javascript"></script>

<div class="span4 offset4">
    <h1>Edit your review of {{obj.name}}</h1>
    <div class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="review_title">Title for your review</label>
        <div class="controls">
            <input type="text" id="review_title" value="{{review.title}}">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="review_body">Write your review here</label>
        <div class="controls">
            <textarea rows="4" cols="50" name="content"  id="review_body">{{review.body}}</textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="rateit5">Your rating</label>
        <div class="controls">
          <span class="rateit" id="rateit5" data-rateit-step="1" data-rateit-value="{{review.rating}}"></span>
          <input type="hidden" id="review_rating" style="display: none;">
          <input type="hidden" id="review_house_id" name="review_house_id" value="{{obj.id}}" />
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button onclick="submit()">Submit Edit</button>
        </div>
      </div>
    </div>
</div>



<script type="text/javascript">
    rating = {{review.rating}};  // preset with current review rating.
    $("#rateit5").bind('rated', function (event, value)
        {
            console.log(value);
            rating = value
            console.log( rating )
        });
    function submit()
    {
        var review_title = document.getElementById("review_title").value
        var review_body = document.getElementById("review_body").value
        var review_rating = document.getElementById("rateit5").value
        var review_house_id = document.getElementById("review_house_id").value
        if(review_title=="") {
            alert("Please write a title for this review")
            return
        }
        if(review_body=="") {
            alert("Please write the content of your review")   
            return
        }
        edit_review_api = "edit_review"
        data = {review_title:review_title,
                review_body:review_body,
                review_rating:rating,
                obj_id:review_house_id,
                review_type:"{{review_type}}",
                review_id:"{{review.id}}"
            }
        console.log(data)
        $.post(edit_review_api, data, function(result)
               {
                if(result.indexOf("Error")!=-1)
              {
                alert(result)
              }
              else
              {
               window.location.href = result
             }
           })
    }
</script>

{% endblock %}