{% extends "base.html" %}
{% block title %}YoRent - Home{% endblock %}
{% block content %}


 <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 60px;
      }

      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 60px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }

    </style>
<div class="container">
<div class="jumbotron">

        <p class="lead">How can I get involved?</p>
      </div>

      <hr>
 
      <div class="row-fluid">
        <div class="span4">
          <h2>Find a house</h2>
          <p>If you're looking for a house, you've come to the right place. Letting agents' won't tell you the truth about a house - hear about it direct from the people who've lived there!</p>
          <p><a class="btn btn-success" href="{{url_for('towns')}}">Let's go! &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Add your experiences</h2>
          <p>Lived in a complete dump? Had a super-helpful landlady? Tell the world!</p>
          <p>By sharing our experiences, we can all learn from each other.</p>
          <p><a class="btn btn-success" href="{{url_for('add_house')}}">I want to help! &raquo;</a></p>
        </div>
        
        <div class="span4">
          <h2>Spread the word</h2>
          <p>The more people that participate, the more useful this becomes.</p>
          <p>If you know someone that's looking to rent, send them here first!.</p>
          <p><a class="btn btn-success" href="https://www.facebook.com/yorent.york">Facebook &raquo;</a></p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; The Yorkshire Software Collective 2014</p>
      </div>
</div>
{% endblock %}