{% extends "base.html" %}
{% block title %}YoRent - All towns/cities{% endblock %}
{% block content %}

<div align="center">
    <h1>All Towns/Cities</h1>
</div>

<div class="row-fluid">
    <ul class="thumbnails">
    {% for town in towns | sort(attribute='houses', reverse=True) %} <!--show each town -->
        <li class="span3">
            <div class="thumbnail">
                <a href="{{url_for('towns', town_id=town.id)}}">
                  <img src="{{town.image}}" alt="">
                </a>
                <div class="caption">
                    <h1><a href="{{ url_for('towns', town_id=town.id) }}">{{town.name}}</a></h1>
                    <p>{{town.houses|length}} Properties</p>
                    <p>{{town.neighbourhoods|length}} Neighbourhoods</p>
                    <p>{{town.landlords|length}} Landlords</p>
                </div>
            </div>
        </li>
    {% endfor %} <!-- end of town loop -->
    </ul>
</div>



{% endblock %}