{% extends "base.html" %}
{% block title %}YoRent - {{town.name}}{% endblock %}
{% block content %}
<script src={{ url_for('static', filename="js/jquery.rateit.js") }} type="text/javascript"></script>

<div class="span12">
  <h1>{{town.name}}</h1>
  <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#houses_tab" data-toggle="tab"><h4>Houses: {{town.houses|length}}</h4></a></li>
    <li><a href="#neighbourhoods_tab" data-toggle="tab"><h4>Neighbourhoods: {{town.neighbourhoods|length}}</h4></a></li>
    <li><a href="#landlords_tab" data-toggle="tab"><h4>Landlords: {{town.landlords|length}}</h4></a></li>
    <li><a href="#map_tab" data-toggle="tab" onClick="initialise_map()"><h4>Map</h4></a></li>
    <li><a href="#housemates_tab" data-toggle="tab"><h4>Find a housemate</h4></a></li>
    <li><a href="{{ url_for('add_house') }}"><h4>Add a house</h4></a></li>
    <li><a href="{{ url_for('add_landlord') }}"><h4>Add a landlord</h4></a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="houses_tab">
      <ul class="thumbnails">
        <li style="display:none"></li>
        {% for house in town.houses|sort(attribute="average_rating", reverse=True) %}
        {% include "house_small.html" %}
        {% endfor %}
      </ul>
    </div>

    <div class="tab-pane" id="neighbourhoods_tab">
      <ul class="thumbnails">
        <li style="display:none"></li>
        {% for nhood in town.neighbourhoods|sort(attribute="average_house_rating", reverse=True) %}
          {% include "nhood_small.html" %}
        {% endfor %}
      </ul>
    </div>

    <div class="tab-pane" id="landlords_tab">
      <ul class="thumbnails">
        <li style="display:none"></li>
        {% for landlord in town.landlords|sort(attribute="average_review_rating", reverse=True) %}
          {% include "landlord_small.html" %}
        {% endfor %}
      </ul>
    </div>


    <div class="tab-pane" id="housemates_tab">
        <div class="span4">
            <h2>Find a housemate</h4>
            <div class="alert">
              
                <p><i>Coming soon!</i></p>
            </div>
            <h3>Need to find a place?</h3>
            <p>Check here to find a house or group of housemates that fits with your criteria.</p>
            <hr>
            <h3>Need to move out?</h3>
            <p>It's not uncommon to need to leave a house early.
                Tenancy agreements don't consider the complexity and difficulty of jobs, degrees and personal emergencies.
               <br>We can help you find a replacement housemate, so you have one less thing to worry about.</p>
        </div>
    </div>

    <div class="tab-pane" id="map_tab">
        <div class="span9">
      <!-- Map code -->
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
      <div style="overflow:hidden;height:600px;">
          <div id="gmap_canvas" style="height:600px;"></div>
          
          
      </div>
      <script type="text/javascript">
          g_map_loaded = 0
          function initialise_map(){
              if(!Boolean(g_map_loaded)){
                  console.log("map!")
                  init_map()
                  g_map_loaded = 1
              }
              
          }
          function init_map(){
              var myOptions = {zoom:{{town.zoom}},center:new google.maps.LatLng({{town.lat}}, {{town.lng}}),mapTypeId: google.maps.MapTypeId.ROADMAP};
              map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
          
              {% for house in town.houses %}
                // create a marker at the lat/lng coordinates of the house
                // these were calculated when we created the house object - trying to geocode them each time we view the house causes us to hit the query rate limit.
                marker{{house.id}} = new google.maps.Marker(
                  {map:map, position:new google.maps.LatLng(
                    {{house.latitude}}, {{house.longitude}}
                  )
                  }
                );
                 infowindow{{house.id}} = new google.maps.InfoWindow({content:'<a href="{{url_for('houses', house_id=house.id)}}">{{house.name}}</a>' });
                 google.maps.event.addListener(marker{{house.id}}, "click", function(){
                   infowindow{{house.id}}.open(map,marker{{house.id}});
                 });
               {% endfor %}
          }
                                         //google.maps.event.addDomListener(window, 'load', init_map);
          
      </script>
      <!-- /Map code -->
        </div>
    </div>


  </div>
</div>


{% endblock %}
