{% extends "base.html" %}
{% block title %}YoRent - Add New House{% endblock %}
{% block content %}
    <div class="span4"></div>
    <div class="span8">
        <p> Add a new town </p>

        <form action="{{ url_for('add_town') }}" method=post class=add-entry>

            <p><input type="text" name="town_name"> Town name</p>
            
            <p><input type="submit" value="Add Town"></p>
        </form>
    </div>

{% endblock %}