<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<script src={{ url_for('static', filename="js/jquery.rateit.js") }} type="text/javascript"></script>
<h1>User: {{user.nickname}}</h1>
<hr>

<h3>Houses Reviewed: {{h_reviews|length}}</h3>
{% for rev in h_reviews %}
<p>
  <a href="{{url_for('houses', house_id=rev.house.id)}}">{{rev.house.name}}</a>
  <span class="rateit" data-rateit-value="{{rev.rating}}" data-rateit-ispreset="true" data-rateit-readonly="true">{{rev.title}} </span>
</p>
{% endfor %}

<h3>Landlords Reviewed: {{ll_reviews|length}}</h3>
{% for rev in ll_reviews %}
<p>
  <a href="{{url_for('landlords', landlord_id=rev.landlord.id)}}">{{rev.landlord.name}}</a>
  <span class="rateit" data-rateit-value="{{rev.rating}}" data-rateit-ispreset="true" data-rateit-readonly="true">{{rev.title}} </span>
  {{rev.title}}
</p>
{% endfor %}
{% endblock %}